<div class="container">
    <div class="searchBar">
        <input class="form-control" [(ngModel)]="searchValue" type="text" placeholder="Buscar Usuário" id="search" name="search">
        <button class="btn btn-primary" (click)="loadProducts()">Buscar</button>
    </div>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Descrição</th>
            <th scope="col">Estoque</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">
            <th scope="row">{{ product.id }}</th>
            <td>{{ product.name }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.quantity }}</td>
            <td class="btn-group">
                <a class="btn btn-primary" [routerLink]="'/products/' + product.id">Editar</a>
                <button class="btn btn-danger">Excluir</button>
            </td>
          </tr>
        </tbody>
    </table>
    <a routerLink="/products/novo" class="btn btn-primary">Criar Produto</a>
</div>